@model DapperCRUD.Models.Students
@{
    ViewData["Title"] = "InsertUpdate";
}

<form method="post" action="InsertUpdate">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="FullName">
        <input type="hidden" id="StudentId" asp-for="StudentId">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="EmailAddress">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">City</label>
        <input type="text" class="form-control" asp-for="City">
    </div>
   

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

